body {
  color: #384047;
  background: #edeff0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 1150px;
  margin: 1.1em auto;
  /* display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 40px;
  margin: 40px 0;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 100px 0 20px 0;
}

h4 {
  margin: 0;
}

p {
  margin: 40px 0;
}
